*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoContainer{
    width: 50vh;
    height: 75vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(71, 71, 71, 0.493);
}
.todoHeading{
    text-align: center;
    font-size: 5vmin;
    background-color: rgb(54, 117, 253);
    margin-top: 2vh;
    color: wheat;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}
.inputAndButton{
    display: flex;
    justify-content: center;
    margin:2vh;
}
.addTaskInput{
    width: 60%;
    margin-right: 7%;
    border: none;
    border-bottom: 1px solid blue;
    font-size: 2.5vh;
    outline: none;
}
.addButton{
    padding: 1vh 2vh;
    width: 20%;
    font-size: 2.5vh;
    background-color: rgb(81, 81, 207);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.3s;
}
.addButton:active{
    transform: scale(1.1);
}
.taskContainer{
    display: flex;
    flex-direction: column-reverse;
}
.cross{
    color: white;
    background-color: turquoise;
    margin-right: 2vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: all .2s;
    cursor: pointer;
}
.cross:hover{
    color: red;
}
.task{

}
.crossAndTask{
    display: flex;
    margin-left: 2vh;
    margin-bottom: 2vh;
    font-size: 3vh;
    align-items: center;

}